<h1>Notes</h1>

<%= render 'form' %>

<div id="notes">
    <% @notes.each do |note| %>
        <div class="info">
            <%= note.created_at.strftime('%b %d, %Y') %>
        </div>
        <div class="content"><%= note.content %></div>
        <div class="delete"><%= link_to :destroy, note_path(note), :method => :delete %></div>
    <% end %>
</div>